* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

a {
    color: inherit;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(24,30,36,1) 0%, rgba(24,32,41,1) 25%, rgba(24,30,36,1) 50%, rgba(24,32,41,1) 75%, rgba(24,30,36,1) 100%);

}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 15px;
    width: 100%;
}

.description-reg {
    font-size: 20px;
    color: #f5f9ffc4;
}