body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top section starts here  */

#top-section {
    padding: 20px 0px;
}

.top-contents {}

.top-contents img {
    width: 30px;
    height: auto;
}

/* Top section Ends here  */

/* Middle section starts here  */

#middle-section {
    margin: 20px 0px;
}

.middle-contents {
    color: #f5f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-contents img {
    margin: 15px 0px;
    width: 180px;
    height: auto;
}

.middle-contents h1 {
    margin: 8px 0px;
}

.middle-contents p {
    margin: 2px 0px;
}

.middle-contents button {
    border: none;
    background-color: azure;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: max-content;
    margin: 20px 0px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 14px;

}

tr:nth-child(even) {
    background-color: #dddddd0a;
}

/* Middle section Ends here  */

/* Bottom section starts here  */

#bottom-section {
    padding: 20px 0px;
}

.bottom-contents {}

.bottom-contents p {
    font-size: 16px;
    text-align: center;
}

/* Bottom section Ends here  */