body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top section starts here  */

#top-section {
    padding: 20px 0px;
}

.top-contents {
    margin: 0px 6px;
}

.top-contents img {
    width: 30px;
    height: auto;
}

/* Top section Ends here  */

/* Middle section starts here  */

#middle-section {}

.middle-contents {
    color: #f5f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.middle-contents img {
    margin: 15px 0px;
    width: 160px;
    height: auto;
}

.middle-contents h1 {
    margin: 8px 0px;
    font-size: 34px;
}

.middle-contents p {
    margin: 2px 0px;
}

.middle-contents button {
    border: none;
    background-color: #f5f9ff;
    padding: 6px 22px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    max-width: max-content;
    margin: 20px 0px 50px 0px;
}

.select-rounds {
    margin-top: 46px;
    font-size: 20px;
}

.select-rounds option {
    font-size: 20px;
    background-color: rgb(29, 34, 37);
    border: 1px solid rgba(64, 74, 80, 0.87);
}

.select-rounds select {
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 5px;
    border: 1px solid #f5f9ffce;
    background-color: #1d2225;
    /* Default color instead of inherit */
    color: #f5f9ff;
}

.select-rounds select:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border: 1px solid #f5f9ffad;
    color: #f5f9ffad;
}

table caption {
    margin-bottom: 12px;
}

td,
th {
    text-align: left;
    padding: 8px 14px;
    border-right: 1px solid #f5f9ffad;
}

tr:nth-child(even) {
    background-color: #dddddd0a;
}

/* Bottom section starts here  */

#bottom-section {
    padding: 40px 0px;
}

.bottom-contents {}

.bottom-contents p {
    font-size: 16px;
    text-align: center;
}

/* Bottom section Ends here  */